.posts {
  margin-top: 50px;
  .post {
    padding: 25px 0 0 0;
    min-width: 370px;
    width: 34%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 1px solid #dee1e5;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    @include clearfix;
    &.has-media {
      padding-bottom: 0;
    }
    .avatar {
      float: left;
      margin-right: 20px;
      margin-left: 25px;
    }
    .content {
      float: left;
      width: 85%;
      margin-bottom: 25px;
      p {
        margin-bottom: 0;
      }
    }
    .comments-container {
      clear: both;
      .comments {
        width: 100%;
        .comment {
          @include clearfix;
          padding: 25px 0;
          background-color: rgba(244, 245, 247, 0.5);
          border-top: 1px solid #dee1e5;
          position: relative;
        }
        .comment-reply {
          padding: 25px;
          background-color: rgba(244, 245, 247, 0.5);
          border-top: 1px solid #dee1e5;
          display: none;
          &.show {
            display: block;
          }
          input {
            border: 1px solid #dee1e5;
            border-radius: 4px;
            width: 100%;
            height: 40px;
            @include placeholder {
              color: #bec3cc;
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              text-indent: 15px;
            }
          }
        }
      }
    }
    .meta {
      position: absolute;
      right: 20px;
      top: 10px;
      ul {
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin-left: 23px;
          a {
            color: #bec3cc;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            background-image: url(../img/icon-sprite.png);
            background-repeat: no-repeat;
            height: 16px;
            width: 15px;
            display: block;
            &.reply {
              background-position: 0 -30px;
            }
            &.like {
              background-position: 0 -47px;
            }
          }
          &:last-child {
            a { background: none; }
          }
        }
      }
    }
    .expand {
      color: #bec3cc;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      margin-left: 85px;
      margin-bottom: 25px;
      display: block;
      position: relative;
      &:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #d8dbe0 transparent;
        position: absolute;
        left: 60px;
        top: 9px;
      }
      &.expanded {
        &:after {
          border-width: 5px 5px 0 5px;
          border-color: #d8dbe0 transparent transparent transparent;
        }
      }
    }
    .media {
      img {
        width: 100%;
      }
    }
    h2 {
      color: #3f454d;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      margin: 0;
    }
    p {
      color: #70767f;
      font-size: 15px;
      line-height: 24px;
      margin-top: 10px;
    }
    a {
      color: #bec3cc;
      font-size: 15px;
      line-height: 24px;
      text-decoration: none;
    }
  }
  .block-view {

  }
}
